@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.example-fill-remaining-space {
    flex: 1 1 auto;
}

body {
    margin:0;
    font-family: 'Roboto', sans-serif;
    background: #fafafa;
}

.container {
    width: 960px;
    max-width: 100%;
    margin: auto;
    padding: 1em;
}

.example-full-width {
    width: 100%;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}