<div class="container">
        <mat-card>
            <mat-card-title>
                <h1>Welcome to this Angular learning app</h1>
            </mat-card-title>
            <mat-card-content>
                The purpose of this application is to be a showcase of simple things that you can do with Angular.
                <p>But seriously, why are you here? Go to <a href="https://angular.io/tutorial">Angular Heroes</a> and actually learn something! 🤪</p>
            </mat-card-content>
        </mat-card>
</div>